# File: `charts/kannika-api/templates/secret.yaml`
{{- if and .Values.config.security.enabled .Values.config.security.secret.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ if .Values.config.security.secret.name }}{{ .Values.config.security.secret.name }}{{ else }}{{ include "kannika-api.name" . }}{{ end }}
type: Opaque
data:
  {{- if .Values.config.security.username }}
  {{ default "username" .Values.config.security.secret.usernameKey }}: {{ .Values.config.security.username | b64enc }}
  {{- end }}
  {{- if .Values.config.security.password }}
  {{ default "password" .Values.config.security.secret.passwordKey }}: {{ .Values.config.security.password | b64enc }}
  {{- end }}
{{- end }}
