apiVersion: v1
kind: Secret
metadata:
  name: {{ include "kannika-api.name" . }}
type: Opaque
data:
  {{- if .Values.config.security.enabled }}
  {{- if .Values.config.security.username }}
  KANNIKA_SECURITY_BASIC_AUTH_USERNAME: {{ .Values.config.security.username | b64enc }}
  {{- end }}
  {{- if .Values.config.security.password }}
  KANNIKA_SECURITY_BASIC_AUTH_PASSWORD: {{ .Values.config.security.password | b64enc }}
  {{- end }}
  {{- end }}
